version: "3.9"

services:
  minio:
    image: quay.io/minio/minio
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - ./minio/data:/data
      - ./minio/config:/root/.minio
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"

  createbuckets:
    image: minio/mc
    depends_on:
      - minio
    entrypoint: >
      sh -c "
        until (mc alias set myminio http://minio:9000 minioadmin minioadmin); do
          echo '...waiting for minio...';
          sleep 1;
        done;
        mc mb -f myminio/auction-bucket;
        mc anonymous set public myminio/auction-bucket;
        exit 0;
      "